In [15]:
import pandas as pd
import numpy as np

full_df = pd.read_csv("./dataset/data.csv", encoding = "unicode_escape")
full_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [16]:
missing_data = pd.DataFrame(full_df.isnull().sum(), columns=["Count"])
missing_data.sort_values(by=["Count"])

              Count
InvoiceNo         0
StockCode         0
Quantity          0
InvoiceDate       0
UnitPrice         0
Country           0
Description    1454
CustomerID   135080

In [17]:
full_df = full_df.dropna(subset=["CustomerID"])
full_df["CustomerID"]

0         17850.0
1         17850.0
2         17850.0
3         17850.0
4         17850.0
           ...
541904    12680.0
541905    12680.0
541906    12680.0
541907    12680.0
541908    12680.0
Name: CustomerID, Length: 406829, dtype: float64

In [18]:
full_df["CustomerID"] = full_df["CustomerID"].apply(lambda x: str(x)[:-2])
full_df["CustomerID"]

0         17850
1         17850
2         17850
3         17850
4         17850
          ...
541904    12680
541905    12680
541906    12680
541907    12680
541908    12680
Name: CustomerID, Length: 406829, dtype: object

In [19]:
full_df[full_df["UnitPrice"]==0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
9302,537197,22841,ROUND CAKE TIN VINTAGE GREEN,1,12/5/2010 14:02,0.0,12647,Germany
33576,539263,22580,ADVENT CALENDAR GINGHAM SACK,4,12/16/2010 14:36,0.0,16560,United Kingdom
40089,539722,22423,REGENCY CAKESTAND 3 TIER,10,12/21/2010 13:45,0.0,14911,EIRE
47068,540372,22090,PAPER BUNTING RETROSPOT,24,1/6/2011 16:41,0.0,13081,United Kingdom
47070,540372,22553,PLASTERS IN TIN SKULLS,24,1/6/2011 16:41,0.0,13081,United Kingdom
56674,541109,22168,ORGANISER WOOD ANTIQUE WHITE,1,1/13/2011 15:10,0.0,15107,United Kingdom
86789,543599,84535B,FAIRY CAKES NOTEBOOK A6 SIZE,16,2/10/2011 13:08,0.0,17560,United Kingdom
130188,547417,22062,CERAMIC BOWL WITH LOVE HEART DESIGN,36,3/23/2011 10:25,0.0,13239,United Kingdom
139453,548318,22055,MINI CAKE STAND HANGING STRAWBERY,5,3/30/2011 12:45,0.0,13113,United Kingdom
145208,548871,22162,HEART GARLAND RUSTIC PADDED,2,4/4/2011 14:42,0.0,14410,United Kingdom
157042,550188,22636,CHILDS BREAKFAST SET CIRCUS PARADE,1,4/14/2011 18:57,0.0,12457,Switzerland
187613,553000,47566,PARTY BUNTING,4,5/12/2011 15:21,0.0,17667,United Kingdom
198383,554037,22619,SET OF 6 SOLDIER SKITTLES,80,5/20/2011 14:13,0.0,12415,Australia
279324,561284,22167,OVAL WALL MIRROR DIAMANTE,1,7/26/2011 12:24,0.0,16818,United Kingdom
282912,561669,22960,JAM MAKING SET WITH JARS,11,7/28/2011 17:09,0.0,12507,Spain
285657,561916,M,Manual,1,8/1/2011 11:44,0.0,15581,United Kingdom
298054,562973,23157,SET OF 6 NATIVITY MAGNETS,240,8/11/2011 11:42,0.0,14911,EIRE
314745,564651,23270,SET OF 2 CERAMIC PAINTED HEARTS,96,8/26/2011 14:19,0.0,14646,Netherlands
314746,564651,23268,SET OF 2 CERAMIC CHRISTMAS REINDEER,192,8/26/2011 14:19,0.0,14646,Netherlands
314747,564651,22955,36 FOIL STAR CAKE CASES,144,8/26/2011 14:19,0.0,14646,Netherlands
314748,564651,21786,POLKADOT RAIN HAT,144,8/26/2011 14:19,0.0,14646,Netherlands
358655,568158,PADS,PADS TO MATCH ALL CUSHIONS,1,9/25/2011 12:22,0.0,16133,United Kingdom
361825,568384,M,Manual,1,9/27/2011 9:46,0.0,12748,United Kingdom
379913,569716,22778,GLASS CLOCHE SMALL,2,10/6/2011 8:17,0.0,15804,United Kingdom
395529,571035,M,Manual,1,10/13/2011 12:50,0.0,12446,RSA
420404,572893,21208,PASTEL COLOUR HONEYCOMB FAN,5,10/26/2011 14:36,0.0,18059,United Kingdom
436428,574138,23234,BISCUIT TIN VINTAGE CHRISTMAS,216,11/3/2011 11:26,0.0,12415,Australia
436597,574175,22065,CHRISTMAS PUDDING TRINKET POT,12,11/3/2011 11:47,0.0,14110,United Kingdom
436961,574252,M,Manual,1,11/3/2011 13:24,0.0,12437,France
439361,574469,22385,JUMBO BAG SPACEBOY DESIGN,12,11/4/2011 11:55,0.0,12431,Australia
446125,574879,22625,RED KITCHEN SCALES,2,11/7/2011 13:22,0.0,13014,United Kingdom
446793,574920,22899,CHILDREN'S APRON DOLLY GIRL,1,11/7/2011 16:34,0.0,13985,United Kingdom
446794,574920,23480,MINI LIGHTS WOODLAND MUSHROOMS,1,11/7/2011 16:34,0.0,13985,United Kingdom
454463,575579,22437,SET OF 9 BLACK SKULL BALLOONS,20,11/10/2011 11:49,0.0,13081,United Kingdom
454464,575579,22089,PAPER BUNTING VINTAGE PAISLEY,24,11/10/2011 11:49,0.0,13081,United Kingdom
479079,577129,22464,HANGING METAL HEART LANTERN,4,11/17/2011 19:52,0.0,15602,United Kingdom
479546,577168,M,Manual,1,11/18/2011 10:42,0.0,12603,Germany
480649,577314,23407,SET OF 2 TRAYS HOME SWEET HOME,2,11/18/2011 13:23,0.0,12444,Norway
485985,577696,M,Manual,1,11/21/2011 11:57,0.0,16406,United Kingdom
502122,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,11/25/2011 15:57,0.0,13256,United Kingdom

In [20]:
full_df.drop(full_df[full_df["UnitPrice"]==0].index, inplace=True)

In [21]:
all_stock = list(set(full_df['StockCode']))
all_stock.sort()

In [22]:
basket = full_df.groupby(['InvoiceNo','CustomerID'], as_index= False).agg({'StockCode': lambda s: list(set(s))}) # grouping product from the same invoice. 
basket

      InvoiceNo CustomerID                                          StockCode
0        536365      17850  [71053, 21730, 84406B, 84029E, 85123A, 22752, ...
1        536366      17850                                     [22633, 22632]
2        536367      13047  [48187, 84879, 22748, 22310, 84969, 21777, 217...
3        536368      13047                       [22914, 22913, 22960, 22912]
4        536369      13047                                            [21756]
...         ...        ...                                                ...
22181   C581484      16446                                            [23843]
22182   C581490      14397                                     [22178, 23144]
22183   C581499      15498                                                [M]
22184   C581568      15311                                            [21258]
22185   C581569      17315                                     [84978, 20979]

[22186 rows x 3 columns]

In [23]:
for item in all_stock:
    basket[item] = item
basket

C:\Users\Asus\AppData\Local\Temp/ipykernel_10384/993611400.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  basket[item] = item

,InvoiceNo,CustomerID,StockCode,10002,10080,10120,10123C,10124A,10124G,10125,...,90214Y,90214Z,BANK CHARGES,C2,CRUK,D,DOT,M,PADS,POST
0,536365,17850,"[71053, 21730, 84406B, 84029E, 85123A, 22752, ...",10002,10080,10120,10123C,10124A,10124G,10125,...,90214Y,90214Z,BANK CHARGES,C2,CRUK,D,DOT,M,PADS,POST
1,536366,17850,"[22633, 22632]",10002,10080,10120,10123C,10124A,10124G,10125,...,90214Y,90214Z,BANK CHARGES,C2,CRUK,D,DOT,M,PADS,POST
2,536367,13047,"[48187, 84879, 22748, 22310, 84969, 21777, 217...",10002,10080,10120,10123C,10124A,10124G,10125,...,90214Y,90214Z,BANK CHARGES,C2,CRUK,D,DOT,M,PADS,POST
3,536368,13047,"[22914, 22913, 22960, 22912]",10002,10080,10120,10123C,10124A,10124G,10125,...,90214Y,90214Z,BANK CHARGES,C2,CRUK,D,DOT,M,PADS,POST
4,536369,13047,[21756],10002,10080,10120,10123C,10124A,10124G,10125,...,90214Y,90214Z,BANK CHARGES,C2,CRUK,D,DOT,M,PADS,POST
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22181,C581484,16446,[23843],10002,10080,10120,10123C,10124A,10124G,10125,...,90214Y,90214Z,BANK CHARGES,C2,CRUK,D,DOT,M,PADS,POST
22182,C581490,14397,"[22178, 23144]",10002,10080,10120,10123C,10124A,10124G,10125,...,90214Y,90214Z,BANK CHARGES,C2,CRUK,D,DOT,M,PADS,POST
22183,C581499,15498,[M],10002,10080,10120,10123C,10124A,10124G,10125,...,90214Y,90214Z,BANK CHARGES,C2,CRUK,D,DOT,M,PADS,POST
22184,C581568,15311,[21258],10002,10080,10120,10123C,10124A,10124G,10125,...,90214Y,90214Z,BANK CHARGES,C2,CRUK,D,DOT,M,PADS,POST
22185,C581569,17315,"[84978, 20979]",10002,10080,10120,10123C,10124A,10124G,10125,...,90214Y,90214Z,BANK CHARGES,C2,CRUK,D,DOT,M,PADS,POST

In [25]:
def binarySearch(arr, l, r, x):
    x = str(x)
    if (r >= l):         
        mid = int(l + (r - l) / 2)

        if (str(arr[mid]) == x): 
            arr[mid] = 'True'
        if (mid > l and str(arr[mid - 1]) == x):
            arr[mid-1] = 'True'
        if (mid < r and str(arr[mid + 1]) == x):
            arr[mid+1] = 'True'

        if (str(arr[mid]) > x):
            return binarySearch(arr, l, mid - 2, x)
         
        return binarySearch(arr, mid + 2, r, x)

    return arr

In [26]:
data = np.array(basket)

In [27]:
for row in range(len(data)):
    for item in data[row][2]:
        binarySearch(data[row],3,len(all_stock) - 1,item)

In [28]:
for row in range(len(data)):
    for col in range(3,len(all_stock)):
        if data[row][col] != 'True':
            data[row][col] = 'False'

In [31]:
data = pd.DataFrame(data,columns=basket.columns)
data = data.drop(columns=['StockCode','BANK CHARGES','C2','CRUK','D','DOT','M','PADS','POST'],axis=1)
data

,InvoiceNo,CustomerID,10002,10080,10120,10123C,10124A,10124G,10125,10133,...,90214O,90214P,90214R,90214S,90214T,90214U,90214V,90214W,90214Y,90214Z
0,536365,17850,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,536366,17850,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,536367,13047,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,536368,13047,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,536369,13047,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22181,C581484,16446,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22182,C581490,14397,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22183,C581499,15498,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22184,C581568,15311,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22185,C581569,17315,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [32]:
data.to_csv('Preprocess.csv', index=False)